@model  IEnumerable<SportsDirect.Models.Products>

<div class="container-fluid">
    <h2>Bootstrap Horizontal Scrolling with Flexbox</h2>
    <div class="row flex-row flex-nowrap">
        
        @foreach (var product in Model)
        {
            <div class="col-3">
                <a href="">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src=".../100px180/" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">@product.ProductName</h5>
                            <p class="card-text">@product.ProductDetails</p>
                        </div>
                    </div>
                </a>
            </div>
        }

    </div>
</div>