@using Microsoft.AspNetCore.Authentication
@using Microsoft.Extensions.Options
@using System.Security.Claims;

@inject IOptions<AzureAdB2COptions> AzureAdB2COptions

@if (User.Identity.IsAuthenticated)
{
    <li class="nav-link dropdown">
        <a class="dropdown-toggle text-muted" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="far fa-user pt-0 mr-2"></i>
            @User.Identity.Name
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <a href="" class="dropdown-item">Shopping cart</a>
            <a href="" class="dropdown-item">My orders</a>
            <a asp-area="" asp-controller="Account" asp-action="EditProfile" class="dropdown-item">My profile</a>
            <div class="dropdown-divider"></div>
            <a asp-area="" asp-controller="Account" asp-action="SignOut" class="dropdown-item">Sign out</a>
        </div>
    </li>
}
else
{
    <li class="nav-link">
        <a asp-area="" asp-controller="Account" asp-action="SignIn" class="btn btn-light nav-link-edit text-muted"><i class="far fa-user pt-0 mr-2"></i><small>Sign In</small></a>
    </li>
}
