@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<br />
<br />
<div class="container" style="padding-top:10%; margin-top:20px; padding-bottom:10%; margin-bottom:20px; text-align:center;">
    <div class="row justify-content-center">
        <div class="card" style="width:20rem">
            <h3 class="text-danger">An error occured.</h3>
            <p class="text-muted">An error occurred while processing your request. Please try again.</p>

            @if (Model.ShowRequestId)
            {
                <p>
                    <strong>Request ID:</strong> <code>@Model.RequestId</code>
                </p>
            }

        </div>
    </div>
</div>