@using SportsDirect.Models;
@{
    ViewData["Title"] = "- Shop";
}

<!--Categories------------------------------------------------------------------------------------------------------------>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm">
            <img src="~/images/Tiles/sd-home-fw-april-mens.jpg" />
        </div>
        <div class="col-sm">
            <img src="~/images/Tiles/sd-home-fw-april-lds.jpg" />
        </div>
        <div class="col-sm">
            <img src="~/images/Tiles/sd-home-fw-april-kids.jpg" />
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <img src="~/images/Tiles/sd-home-cl-april-mens.jpg" />
        </div>
        <div class="col-sm">
            <img src="~/images/Tiles/sd-home-cl-april-lds.jpg" />
        </div>
        <div class="col-sm">
            <img src="~/images/Tiles/kids-clothing-457x457.jpg" />
        </div>
    </div>
</div>

<!--Just Landed---------------------------------------------------------------------------------------------------------------------->
<div class="container-fluid">
    <h2 class="text-center">
        JUST LANDED
    </h2>
    @{
        var LatestProducts = await CosmosDBGraphClient<Products>.GetItemsAsync("Products", d => d.Featured);
    }
    @await Html.PartialAsync("_FeaturedProductsStrip", LatestProducts)<!--Populates the featured products strip-->

</div>